{
  "extends": "airbnb-base",
  "env": {
    "jest": true
  },
  "rules": {
    "no-underscore-dangle": "off",
    "object-curly-newline": "off",
    "quotes": "off",
    "comma-dangle": "off",
    "max-len": ["error", 135],
    "no-restricted-syntax": ["off", "ForOfStatement"]
  }
}
